footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC;
    border-top-style: solid;
    display: flex;
    justify-content:center;
    align-items:center;
    bottom: 0;
    position: fixed;
}